/* colors:
#FFF8E7
#01426A
#D45A23
#414A4C */

/* CSS Custom Properties Definitions */

:root {
  --maxWidth-none: "none";
  --maxWidth-xs: 20rem;
  --maxWidth-sm: 24rem;
  --maxWidth-md: 28rem;
  --maxWidth-lg: 32rem;
  --maxWidth-xl: 36rem;
  --maxWidth-2xl: 42rem;
  --maxWidth-3xl: 48rem;
  --maxWidth-4xl: 56rem;
  --maxWidth-full: "100%";
  --maxWidth-wrapper: var(--maxWidth-2xl);
  --spacing-px: "1px";
  --spacing-0: 0;
  --spacing-1: 0.25rem;
  --spacing-2: 0.5rem;
  --spacing-3: 0.75rem;
  --spacing-4: 1rem;
  --spacing-5: 1.25rem;
  --spacing-6: 1.5rem;
  --spacing-8: 2rem;
  --spacing-10: 2.5rem;
  --spacing-12: 3rem;
  --spacing-16: 4rem;
  --spacing-20: 5rem;
  --spacing-24: 6rem;
  --spacing-32: 8rem;
  --fontFamily-sans: Verdana,Geneva,sans-serif;
  --fontFamily-serif: Georgia,Times,Times New Roman,serif; 
  --font-body: var(--fontFamily-serif);
  --font-heading: var(--fontFamily-sans);
  --fontWeight-normal: 400;
  --fontWeight-medium: 500;
  --fontWeight-semibold: 600;
  --fontWeight-bold: 700;
  --fontWeight-extrabold: 800;
  --fontWeight-black: 900;
  --fontSize-root: 16px;
  --lineHeight-none: 1;
  --lineHeight-tight: 1.1;
  --lineHeight-normal: 1.5;
  --lineHeight-relaxed: 1.625;
  /* 1.200 Minor Third Type Scale */
  --fontSize-0: 0.833rem;
  --fontSize-1: 1rem;
  --fontSize-2: 1.2rem;
  --fontSize-3: 1.44rem;
  --fontSize-4: 1.728rem;
  --fontSize-5: 2.074rem;
  --fontSize-6: 2.488rem;
  --fontSize-7: 2.986rem;
  --color-primary: #000;
  --color-text: #000 ;
  --color-text-light: #554F47;
  --color-heading: #000;
  --color-heading-black: #000;
  --color-accent: #ba0c2f;

  --color-body-background: #FFF;
}

/* HTML elements */

*,
:after,
:before {
  box-sizing: border-box;
}

html {
  line-height: var(--lineHeight-normal);
  font-size: var(--fontSize-root);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: var(--font-body);
  font-size: var(--fontSize-1);
  color: var(--color-text);
  background: var(--color-body-background);
}

footer {
  padding: var(--spacing-6) var(--spacing-0);
}

hr {
  background: var(--color-text-light);
  height: 1px;
  border: 0;
}

/* Heading */

h1,h2,h3,h4,h5,h6 {
  font-family: var(--font-heading);
  margin-top: var(--spacing-12);
  margin-bottom: var(--spacing-6);
  line-height: var(--lineHeight-tight);
  letter-spacing: -0.025em;
  color: var(--color-heading);
}

h2,h3,h4,h5,h6 {
  font-weight: var(--fontWeight-bold);
}

h1 {
  font-weight: var(--fontWeight-black);
  font-size: var(--fontSize-6);
}

h2 {
  font-size: var(--fontSize-5);
}

h3 {
  font-size: var(--fontSize-4);
}

h4 {
  font-size: var(--fontSize-3);
}

h5 {
  font-size: var(--fontSize-2);
}

h6 {
  font-size: var(--fontSize-1);
}

h1 > a,h2 > a,h3 > a,h4 > a,h5 > a,h6 > a {
  text-decoration: none;
  color: inherit;
}

/* Prose */

p {
  line-height: var(--lineHeight-relaxed);
  --baseline-multiplier: 0.179;
  --x-height-multiplier: 0.35;
  margin: var(--spacing-0) var(--spacing-0) var(--spacing-3) var(--spacing-0);
  padding: var(--spacing-0);
}

ul,
ol {
  margin-left: var(--spacing-0);
  margin-right: var(--spacing-0);
  padding: var(--spacing-0);
  padding-left: var(--fontSize-1);
  margin-bottom: var(--spacing-8);
  list-style-position: outside;
  list-style-image: none;
}

ul li,
ol li {
  padding-left: var(--spacing-0);
  margin-bottom: calc(var(--spacing-8) / 2);
}

li > p {
  margin-bottom: calc(var(--spacing-8) / 2);
}

li *:last-child {
  margin-bottom: var(--spacing-0);
}

li > ul {
  margin-left: var(--spacing-8);
  margin-top: calc(var(--spacing-8) / 2);
}

blockquote {
  color: var(--color-text-light);
  margin-left: calc(-1 * var(--spacing-6));
  margin-right: var(--spacing-8);
  padding: var(--spacing-0) var(--spacing-0) var(--spacing-0) var(--spacing-6);
  border-left: 2px solid var(--color-primary);
  font-size: var(--fontSize-2);
  font-style: italic;
  margin-bottom: var(--spacing-8);
}

blockquote > :last-child {
  margin-bottom: var(--spacing-0);
}

blockquote > ul,
blockquote > ol {
  list-style-position: inside;
}

table {
  width: 100%;
  margin-bottom: var(--spacing-8);
  border-collapse: collapse;
  border-spacing: 0.25rem;
}

table thead tr th {
  border-bottom: 1px solid var(--color-text-light);
}

/* Link */

a {
  color: var(--color-accent);
  /* font-family: var(--font-heading); */
  transition: color 0.33s ease;
  -webkit-transition: color 0.33s ease;
  -moz-transition: color 0.33s ease;
  -ms-transition: color 0.33s ease;
  -o-transition: color 0.33s ease;
  text-decoration: none;
}

a:hover,
a:focus {
  color: var(--color-accent);
  text-decoration: underline;
}

/* Custom classes */

.main-heading {
  font-size: var(--fontSize-3);
  margin: 0;
  display: inline-block;
  vertical-align: middle;
}

.blog-post,
.post-list-item {
  margin: var(--spacing-8) auto;
  max-width: var(--maxWidth-wrapper);
}

.post-list-item p {
  margin-bottom: var(--spacing-3);
}

.post-list-item h2 {
  font-size: var(--fontSize-4);
  margin-bottom: var(--spacing-2);
  margin-top: var(--spacing-0);
}

.post-list-item header {
  margin-bottom: var(--spacing-4);
}

.post-list-item .gatsby-resp-iframe-wrapper {
  display: none;
}

.header-link-home {
  font-weight: var(--fontWeight-bold);
  font-family: var(--font-heading);
  text-decoration: none;
  font-size: var(--fontSize-3);
}

.bio {
  margin-bottom: 0;
  border-top: 2px solid;
  padding-top: 25px;
}
.bio .bio-avatar {
  display: inline-block;
  margin-right: var(--spacing-2);

}

.bio p {
  display: inline-block;
  margin-bottom: var(--spacing-0);
  width: calc(100% - 70px);
  vertical-align: top;
}

.header-image {
  margin-right: var(--spacing-1);
  margin-bottom: var(--spacing-0);
  display: inline-block;
  vertical-align: middle;
  width: 77px;
  height: 77px;
  border-radius: 100%;
}

.blog-post header h1 {
  margin: var(--spacing-0) var(--spacing-0) var(--spacing-4) var(--spacing-0);
}

.blog-post header p {
  font-size: var(--fontSize-2);
  font-family: var(--font-heading);
}

.blog-post .gatsby-image-wrapper {
  margin-bottom: var(--spacing-8);
}

.blog-post-nav {
  max-width: var(--maxWidth-wrapper);
  margin: auto;
}

.blog-post-nav ul {
  margin: var(--spacing-0);
}

.react-share__ShareButton {
  margin-right: 1rem;
}

.react-share__ShareButton:hover circle{
  fill: var(--color-text) !important;
}

.btn {
  background: var(--color-accent);
  padding: 10px 12px;
  border: 1px solid #000;
  border-left: none;
  color: #fff;
  cursor: pointer;
  transition: background 0.33s ease-in;
  -webkit-transition: background 0.33s ease-in;
  -moz-transition: background 0.33s ease-in;
  -ms-transition: background 0.33s ease-in;
  -o-transition: background 0.33s ease-in;
}

.btn:hover {
  background: var(--color-primary);
}

.email {
  width: calc(100% - 80px);
  padding-left: var(--spacing-2);
  border: 1px solid var(--color-primary);
  border-right: none;
}

#emailSubscribe {
  margin: var(--spacing-6) 0;
}

#emailSubscribe input{
  border-radius: 0;
  height: 40px;
  vertical-align: middle;
  
}

#emailSubscribe label {
  display: block;
  font-weight: 600;
  font-size: var(--fontSize-1);
  font-family: var(--font-heading);
}

#emailSubscribe p {
  margin-bottom: var(--spacing-3);
}

.menu-button {
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: var(--fontSize-2);
  background: var(--color-body-background);
  display: block;
  padding: 20px;
  text-align: center;
  left: 0;
  right: 0;
  border: none;
  border-top: 2px solid var(--color-text);
  z-index: 10;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-transform: uppercase;
}


/* Site Layout */
.global-header {
  grid-area: header;
  padding: 10px 20px 10px 20px;
  position: sticky;
  top: 0;
  z-index: 9;
  /* border-top: 5px solid #BF5700; */
  background: var(--color-body-background);
}
.reading-column {
  grid-area: content;
  padding: 20px;
}
.reading-column ol {
  padding-left: 0;
}
.main-nav {
  grid-area: nav;
  padding: 0 20px;
  z-index: 9;
  position: fixed;
  width: 100%;
  bottom: 64px;
  background: var(--color-body-background);
  opacity: 0;
  height: 0;
  overflow: hidden;
  transform: translate3d(0, 100%, 0);
  -webkit-transform: translate3d(0, 100%, 0);
  -moz-transform: translate3d(0, 100%, 0);
  -ms-transform: translate3d(0, 100%, 0);
  -o-transform: translate3d(0, 100%, 0);

  transition: transform .3s linear;
  -webkit-transition: transform .3s linear;
  -moz-transition: transform .3s linear;
  -ms-transition: transform .3s linear;
  -o-transition: transform .3s linear;
}
.main-nav ul {
  padding-left: 0;
}
.main-nav li {
  list-style: none;
  text-align: center;
}
.main-nav nav a {
  text-decoration: none;
  font-size: var(--fontSize-2);
  font-family: var(--font-heading);
  color: var(--color-text);
}
.main-nav nav a:hover {
  color: var(--color-accent);
}
.main-nav.is-active {
  opacity: 1;
  height: auto;
  transform: translate3d(0, 0%, 0);
  -webkit-transform: translate3d(0, 0%, 0);
  -moz-transform: translate3d(0, 0%, 0);
  -ms-transform: translate3d(0, 0%, 0);
  -o-transform: translate3d(0, 0%, 0);
  transition: transform .3s linear;
  -webkit-transition: transform .3s linear;
  -moz-transition: transform .3s linear;
  -ms-transition: transform .3s linear;
  -o-transition: transform .3s linear;
}
.promo {
  grid-area: promo;
  padding: 0 20px;
}
.main-footer {
  grid-area: footer;
  padding: 10px 20px;
}

.body {
  display: grid;
  column-gap: 20px;
  padding-bottom: 75px;
  grid-template-columns: 1fr;
  grid-template-areas:
    "header"
    "nav"
    "content"
    "promo"
    "footer";
}

/* Media queries */

@media (max-width: 42rem) {
  blockquote {
    padding: var(--spacing-0) var(--spacing-0) var(--spacing-0) var(--spacing-4);
    margin-left: var(--spacing-0);
  }
  ul,ol {
    list-style-position: inside;
  }
}


@media (min-width: 500px) {
  .body {
    grid-template-columns: 1fr 2fr;
    grid-template-areas: 
      "header content"
      "nav content"
      "promo content"
      ". content"
      "footer content";
      padding-bottom: 0;
  }
  .main-nav {
    display: block;
    position: sticky;
    top: 155px;
    opacity: 1;
    bottom: unset;
    height: auto;
    border-bottom: none;
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
}
  .menu-button-wrapper {
    display: none;
  }
  .promo {
    position: sticky;
    top: 420px;
  }
  .reading-column {
    border-left: 2px solid var(--color-text);
  }
  .global-header {
    padding: 50px 0 10px 20px;
  }
  .main-nav li {
    text-align: left;
  }
  #menuButton.hamburger {
    display: none;
  }
}

@media (min-width: 900px) {
  .body {
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas: 
      "header content promo"
      "nav content promo"
      ". content ."
      "footer content ."
  }
  .promo {
    top: 0px;
  }
  
  .header-image {
    width: 88px;
    height: 88px;
  }
  .share-button-wrapper {
    position: fixed;
    top: 23%;
    right: 19%;
  }
  .share-button-wrapper h5 {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    margin: 0 0 25px 8px;
  }
  .react-share__ShareButton {
    margin: 0;
    display: block;
  }
}


